IETF LC Comment from P. Hoffman: UTF-8 again!

```
The draft sets display requirements on TXT records that are different than those from RFC 1035 and every other RFC that uses TXT records.
 In Section 3.2, it says:

   All text in content values exchanged between systems that are not
   part of a closed ecosystem SHALL be encoded in and interpreted as
   UTF-8 [RFC3629] and conform to the Network Unicode format [RFC5198].
   The allowed subset of Unicode code points SHOULD conform to [RFC9839]
   (Section 4.3), with the exception of %x09, %x0A and %x0D which MUST
   NOT be used.

The large majority of commenters on the DNSOP WG mailing list disagreed with this text. The author could change the RRtype used to a new RRtype
that has UTF-8 semantics, which would also be helpful for other DNS applications in the future, but at the cost of making this more difficult to
 implement. The author could just drop Section 3.2 altogether, and thus make the application conform to current DNS standards at the cost of making 
the ftxt only useful for carrying ASCII or hard-to-read escape sequences. Of these two, I prefer the latter because it is likely that people will just use 
TXT records anyway.
```
